<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/ico-img2ico.net.ico")"/>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/libs/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        window.baseUrl = '@Url.Content("~/")';
    </script>
</head>
    
<body>
    @RenderBody()
</body>
</html>
